{% load static %}

<!DOCTYPE html>

<html lang="en" style="min-width:920px;">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/style.css' %}" rel="stylesheet">
    </head>
    <script>
        function go_home() {
            location.href = "/";
        }
    </script>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3" style="max-width: 300px; background-color: rgb(215, 241, 255);">
                <div class="center-content wiki-title">
                    <div id="wiki-logo-image" onclick="go_home()"></div>
                    <h2 id="title-layout" onclick="go_home()">Wiki</h2></div>
                <div style="border-bottom: 1px solid grey; margin-top: -5px;"></div>
                <form action="{% url 'encyclopedia:searching' %}">
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div class="side-bar-content">
                    <a href="{% url 'encyclopedia:index' %}" style="color: black;">Home</a>
                </div>
                <div class="side-bar-content">
                    <a href="{% url 'encyclopedia:newentry' %}" style="color: black;">Create New Page</a>
                </div>
                <div class="side-bar-content">
                    <a href="{% url 'encyclopedia:randompage' %}" style="color: black;">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>